<a href="https://colab.research.google.com/github/Alinka7/-NUMERICAL-SOLUTION-OF-DIFFERENTIAL-EQUATIONS-IN-PARTIAL-DERIVATIVES-/blob/master/data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### What is data type?

A data type is a classification of data which tells the compiler or interpreter how the programmer intends to use the data. Most programming languages support various types of data, including integer, real, character or string, and Boolean.

Careful understanding of data types and data structures is one of the most important
basic skills you can gain as a programmer.

So let's get acquainted with the data types in Python

### Numeric Types

#### What are numeric types?

Number data types stire numeric values. They are **immutable** data types.
**Immutable** is when no change is possible over time.

In python there are three different numerical types
- **integers**. It is a whole number, positive or negative, without decimals, of unlimited length.
- **floating point numbers**. It is any number with a decimal point. 
- **complex numbers**. It is an extension of the familiar real number system in which all numbers are expressed as a sum of a real part and an imaginary part.

Variables of numeric types are created when you assign a value to them

### Integers

`Int`, or `integer`, is a whole number, positive or negative, without decimals, of unlimited length.
To verify the type of any object in Python, use the `type()` function.

In [ ]:
x = 7
y = -10000
print(f'it`s x: {x}')
print(f'it`s y: {y}')

it`s x: 7
it`s y: -10000

In [ ]:
print(f' the type of x is {type(x)}')
print(f' the type of y is {type(y)}')

 the type of x is <class 'int'>
 the type of y is <class 'int'>


Integers are a commonly used data type in computer programming. For example, whenever a number is being incremented, such as within a "for loop" or "while loop," an integer is used. Integers are also used to determine an item's location within an array.

Create three variables : `a, b, c` with the following values: `100, -5, -12350`. And check the type of this object.

In [ ]:
a = 100
b = -5
c = -12350
print(f'it`s a: {a}, the type of a is {type(a)}')
print(f'it`s b: {b}, the type of b is {type(b)}')
print(f'it`s c: {c}, the type of c is {type(c)}')

it`s a: 100, the type of a is <class 'int'>
it`s b: -5, the type of b is <class 'int'>
it`s c: -12350, the type of c is <class 'int'>

### Floating Point Numbers

`Float`, or `floating point number` is a number, positive or negative, containing one or more decimals.

`Float` is used to represent real numbers and is written with a decimal point dividing the integer and fractional parts. For example, 23.34, 29.4+e19, -12.32e100 all are floating point numbers

In [ ]:
x = 100.12
y = -5.5632
z = -12350.0
print(f'it`s x: {x}, the type of x is {type(x)}')
print(f'it`s y: {y}, the type of y is {type(y)}')
print(f'it`s z: {z}, the type of z is {type(z)}')

it`s x: 100.12, the type of x is <class 'float'>
it`s y: -5.5632, the type of y is <class 'float'>
it`s z: -12350.0, the type of z is <class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 234e5
y = 19E4
z = -11.2e100

print(f'it`s x: {x}, the type of x is {type(x)}')
print(f'it`s y: {y}, the type of y is {type(y)}')
print(f'it`s z: {z}, the type of z is {type(z)}')

it`s x: 23400000.0, the type of x is <class 'float'>
it`s y: 190000.0, the type of y is <class 'float'>
it`s z: -1.12e+101, the type of z is <class 'float'>

Create three variables : `a, b, c` with the following values: `2495e4, -5.0, 985.5067`. And check the type of this object.

In [ ]:
a = 2495e4
b = -5.0
c = 985.5067
print(f'it`s a: {a}, the type of a is {type(a)}')
print(f'it`s b: {b}, the type of b is {type(b)}')
print(f'it`s c: {c}, the type of c is {type(c)}')

it`s a: 24950000.0, the type of a is <class 'float'>
it`s b: -5.0, the type of b is <class 'float'>
it`s c: 985.5067, the type of c is <class 'float'>

### Complex Numbers

`Complex` numbers are an extension of the familiar real number system in which all numbers are expressed as a sum of a real part and an imaginary part. 

Python has built-in support for complex numbers, which are written with this latter notation, the imaginary part is written with a `j` suffix

In [ ]:
x = 3543+52j
y = 2.5j
z = -588j

print(f'it`s x: {x}, the type of x is {type(x)}')
print(f'it`s y: {y}, the type of y is {type(y)}')
print(f'it`s z: {z}, the type of z is {type(z)}')

it`s x: (3543+52j), the type of x is <class 'complex'>
it`s y: 2.5j, the type of y is <class 'complex'>
it`s z: (-0-588j), the type of z is <class 'complex'>

Create three variables : `a, b, c` with the following values: `-7+3j, 1.4+6.7j, -65j`. And check the type of this object.

In [ ]:
a = -7+3j
b = 1.4+6.7j
c = -65j
print(f'it`s a: {a}, the type of a is {type(a)}')
print(f'it`s b: {b}, the type of b is {type(b)}')
print(f'it`s c: {c}, the type of c is {type(c)}')

it`s a: (-7+3j), the type of a is <class 'complex'>
it`s b: (1.4+6.7j), the type of b is <class 'complex'>
it`s c: (-0-65j), the type of c is <class 'complex'>

#### Python int()

The `int()` method returns an integer object from any number or string.

**The syntax of `int()` method is**:
`int(x=0, base=10)`
Parameters:
- x - Number or string to be converted to integer object. The default argument is zero.
- base - Base of the number in x. Can be 0 (code literal) or 2-36.

**Return value**:
- an integer object from the given number or string treats default base as 10
- (No parameters) returns 0
- (If base given) treats the string in the given base (0, 2, 8, 10, 16)

**How `int()` works in Python?**

In [ ]:
x = 65.98234
y = 7.53
z = 54

print(f'integer object from {x} is {int(x)}')
print(f'integer object from {y} is {int(y)}')
print(f'integer object from {z} is {int(z)}')

integer object from 65.98234 is 65
integer object from 7.53 is 7
integer object from 54 is 54

### Python float()

The `float()` method returns a floating point number from a number or a string.

**The syntax of `float()` method is**:
`float([x])`
Parameters:
- x (Optional) - number or string that needs to be converted to floating point number. If it's a string, the string should contain decimal points

**Return value**:
- Equivalent floating point number if an argument is passed
- 0.0 if no arguments passed
- OverflowError exception if the argument is outside the range of Python float

**How `float()` works in Python?**

In [ ]:
x = 65.98234
y = 7
z = 54

print(f'a floating point number from  {x} is {float(x)}')
print(f'a floating point number from  {y} is {float(y)}')
print(f'a floating point number from  {z} is {float(z)}')

a floating point number from  65.98234 is 65.98234
a floating point number from  7 is 7.0
a floating point number from  54 is 54.0

### Python complex()

The `complex()` method returns a complex number when real and imaginary parts are provided, or it converts a string to a complex number.

**The syntax of `complex()` method is**:
`complex([real[, imag]])`
Parameters:
- real - real part. If real is omitted, it defaults to 0.
- imag - imaginary part. If imag is omitted, it defaults to 0.

**Return value**:
- As suggested by the name, complex() method returns a complex number.

- If the string passed to this method is not a valid complex number, ValueError exception is raised.

**How `complex()` works in Python?**

In [ ]:
x = 65.98234
y = 7+4j
z = 54

print(f'a floating point number from  {x} is {complex(x)}')
print(f'a floating point number from  {y} is {complex(y)}')
print(f'a floating point number from  {z} is {complex(z)}')

a floating point number from  65.98234 is (65.98234+0j)
a floating point number from  (7+4j) is (7+4j)
a floating point number from  54 is (54+0j)

### Arithmetic operation

Mathematical operations, such as addition, subtraction, multiplication, and division, are called arithmetic operations. 
Python provides arithmetic operators that allow you to perform arithmetic operations. The following include arithmetic operations in Python, along with their meaning:


</style>
</head>
<body>


<table>
  <tr>
    <th>Operator</th>
    <th>Meaning</th>
  </tr>
  <tr>
    <td> + </td>
    <td>Addition of two operands.</td>
  </tr>
  <tr>
    <td> - </td>
    <td>Subtraction of the first operand (left operand) from the second operand (right operand)</td>
  </tr>
  <tr>
    <td> * </td>
    <td>	Multiplication of two operands.</td>
  </tr>
  <tr>
    <td> / </td>
    <td>Division of two operands.</td>
  </tr>
  <tr>
    <td> % </td>
    <td>Modulus. The remainder of the division of two operands.</td>
  </tr>
  <tr>
    <td> // </td>
    <td>	Floor division. It always returns the floor value for integers and floats.</td>
  </tr>
      <tr>
    <td> ** </td>
    <td>Exponent. The first operand is raised to the power of the second operand.</td>
  </tr>
</table>
    </body>
</html>

### Using Arithmetic Operators in Python

Let's look at an example pf using arithmetic operators in Python. We will perform an arithmetic operation using the arithmetic operator.

#### Addition

In [ ]:
num1 = 5
num2 = 34.5

print(f'the sum of {num1} and {num2} is {num1+num2}')

the sum of 5 and 34.5 is 39.5

You have 2 integers, add them.

In [ ]:
a = 245
b = 653

print(f'the sum is {a+b}')

the sum is 898

You have 2 floating point numbers, add them.

In [ ]:
a = 43.6
b = 876.855

print(f'the sum is {a+b}')

the sum is 920.455

You have 2 complex numbers, add them.

In [ ]:
a = 43.6 + 4j
b = 876.855 + 235.234j

print(f'the sum is {a+b}')

the sum is (920.455+239.234j)

####  Subtraction

In [ ]:
num1 = 5
num2 = 34.5

print(f'the subtraction of {num1} and {num2} is {num1-num2}')

the subtraction of 5 and 34.5 is -29.5

In [ ]:
You have 2 integers, subtract them.

In [ ]:
a = 245
b = 653

print(f'the subtract is {a-b}')

In [ ]:
You have 2 floating point numbers, subtract them.

In [ ]:
a = 43.6
b = 876.855

print(f'the subtract is {a-b}')

the subtract is -833.255

In [ ]:
You have 2 complex numbers, subtract them.

In [ ]:
a = 43.6 + 4j
b = 876.855 + 235.234j

print(f'the subtract is {a-b}')

the subtract is (-833.255-231.234j)

#### Multiplication

In [ ]:
num1 = 5
num2 = 34.5

print(f'the multiplication of {num1} and {num2} is {num1*num2}')

You have 2 integers, multiply  them.

In [ ]:
a = 245
b = 653

print(f'the multiplication is {a-b}')

the multiplication is -408

You have 2 floating point numbers, multiply  them.

In [ ]:
a = 43.6
b = 876.855

print(f'the multiplication is {a*b}')

the multiplication is 38230.878000000004

You have 2 complex numbers, multiply  them.

In [ ]:
a = 40.5 + 4j
b = 80.8 + 2j

print(f'the multiplication is {a*b}')

the multiplication is (3264.4+404.2j)

#### Division

In [ ]:
num1 = 35
num2 = 7

print(f'the division of {num1} and {num2} is {num1/num2}')

the division of 35 and 7 is 5.0

You have 2 numbers, divide them.

In [ ]:
a = 78
b = 8

print(f'the division of {a} and {b} is {a/b}')

the division of 78 and 8 is 9.75

#### Modulus

In [ ]:
num1 = 65
num2 = 7

print(f'the remainder of the division  of {num1} and {num2} is {num1%num2}')

In [ ]:
You have 2 numbers, take the remainder of the division of them.

In [ ]:
a = 78
b = 8

print(f'the remainder of the division  of {a} and {b} is {a%b}')

the remainder of the division  of 78 and 8 is 6

#### Floor value

In [ ]:
num1 = 65
num2 = 7

print(f'the floor value of {num1} and {num2} is {num1//num2}')

the floor value of 65 and 7 is 9

You have 2 numbers, take the floor value of them.

In [ ]:
a = 78
b = 8

print(f'the floor value of {a} and {b} is {a//b}')

the floor value of 78 and 8 is 9

### Exponent

In [ ]:
num1 = 55
num2 = 2

print(f'the floor value of {num1} and {num2} is {num1**num2}')

You have 2 numbers, take the exponent value of them.

In [ ]:
a = 7
b = 3

print(f'the floor value of {a} and {b} is {a**b}')

the floor value of 7 and 3 is 343

## Boolean Type

A variable of type `Boolean` can take only to values - either **False** of **True**. 

The following values are considered **False** in Python:
- **None**
- Zero of any numeric tupe. For example,`0, 0.0, 0j`
- Empty sequence. For example, `( ), [ ], ' ' `
- Empty mapping. For example, `{ }`.

In [ ]:
a = True
print(type(a))

b = False
print(type(b))

<class 'bool'>
<class 'bool'>

**Note** the keywords True and False must have an Upper Case first letter. Using a lowercase true returns an error.

In [ ]:
a = true
print(type(a))

NameError: name 'true' is not defined

In [ ]:
x = 5 > 3
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
y = 6 > 1
print(y)
print(type(y))

True
<class 'bool'>

In Python, `Boolean` and `Integer` data types are closely related: the boolean data type internally uses integer values(by default, the `Boolean` value **False** is represented by integer **0**, and the `Boolean` value **True** is represented by integer **1**.

 ### Python bool()

The `bool()` function converts a value to Boolean (True or False) using the standard truth testing procedure.

**The syntax of `bool()` method is**:
`bool([value])`
Parameters:
- It's not mandatory to pass a value to bool(). If you do not pass a value, bool() returns False.
- In general use, bool() takes a single parameter value.

**Return value**:
- False if the value is omitted or false
- True if the value is true

**How `bool()` works in Python?**

In [ ]:
zero = 0
bool(zero)

False

In [ ]:
one = 1
bool(one)

True

In [ ]:
x = None
bool(x)

False

### Keywords: and, or, not

You can use `Booleans` with **three important keywords** to
create more complicated expressions in Python.

`Boolean` expressions represent basic logical operators. Using
them in combination with only the following three keywords,
you can craft a wide variety of potentially complicated
expressions:

- **and**. The expression x and y evaluates to True if value x is True
and value y is True. If either of those is False, the overall
expression becomes False too.
- **or**. The expression x or y evaluates to True if value x is True or
value y is True (or both values are True). If even just one of
those is True, the overall expression becomes True too.
- **not**. The expression not x evaluates to True if value x is False.
Otherwise, the expression evaluates to False

In [ ]:
x, y = True, False
print((x or y) == False)

False

In [ ]:
x, y = True, False
print((x and y) == False)

True

In [ ]:
x = False
print(not x)

True

By using these three keywords, you can express all the logical expressions you will ever need.

# Strings

It is a derived data type. Strings are `immutable`. This means that once defined, they cannot be changed

- A string is a sequence of characters.

In [ ]:
string = 'hello'
print(string)

hello

- A string literal uses quotes "python" or 'python'.

In [ ]:
string_1 = "hello"
string_2 = 'hello'
print(string_1)
print(string_2)

hello
hello

- **multiline Strings**

You can assign a multiline string to a variable by using three quotes

In [ ]:
string = '''Roses are red 
Violets are blue 
Cats can learn Python
What about you?'''
print(string)

Roses are red
Violets are blue
Cats can learn Python
What about you?

- When a string contains numbers, it's still a string.

In [ ]:
string = 'python3'
print(string)
print(type(string))

python3
<class 'str'>

- We can convert numbers in a string into a number using `int()`.

In [ ]:
string = '1'
x = int(string) + 5
print(x)

6

Python 3.6 added a new string formatting approach called formatted string literals or `f-strings`. This new way of formatting strings lets you use embedded Python expressions inside string constants. Hereâ€™s a simple example.

In [ ]:
string = ' world'
print(f'hello, {string}')

hello,  world

In [ ]:
a = 10
b = 67
print(f'{a} + {b} = {a+b}')

10 + 67 = 77

### Task 
You have to fill in the blanks.

In [ ]:
age = 20
name = 'Alex'
langugage = 'Spanish'
print(f'The name of this boy is {name}. He is {age} years old. His native langugage is {langugage}')

The name of this boy is Alex. He is 20 years old. His native langugage is Spanish

### Task 
You have to fill in the blanks.

In [ ]:
num1 = 50
num2 = 7
print(f'the remainder of the division  of {num1} and {num2} is {num1%num2}')
print(f'the division of {num1} and {num2} is {num1/num2}')
print(f'the subtraction of {num1} and {num2} is {num1-num2}')

the remainder of the division  of 50 and 7 is 1
the division of 50 and 7 is 7.142857142857143
the subtraction of 50 and 7 is 43

### Looking Inside Strings

We can get at any single character in a string using indexing and a range of characters using slicing. The index value must be an integer and starts at zero. We can't use floats or other types, this will result into `TypeError`.Trying to access a character out of index range will rise an `IndexError`.

Python allows negative indexing for strings.

The index `-1` refers to the last item, `-2` to the second last item and so on.

In [ ]:
#Accessing string characters
string = 'Hello, World'
print('string = ', string)

#Accessing the first character
print(f'The first character is "{string[0]}"')

#Accessing the last character
print(f'The last character is "{string[-1]}"')

string =  Hello, World
The first character is "H"
The last character is "d"

You have such string `watermelon`. You have to get such characters: `n`, `m`, `l`, `a`. Use only positive indexing.

In [ ]:
string = 'watermelon'
n = string[9]
m = string[5]
l = string[7]
a = string[1]
print(n, m, l, a)

n m l a

You have such string `watermelon`. You have to get such characters: `n`, `m`, `l`, `a`. Use only negative indexing.

In [ ]:
string = 'watermelon'
n = string[-1]
m = string[-5]
l = string[-3]
a = string[-9]
print(n, m, l, a)

n m l a

### String Slicing in Python

Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end. Python slicing can be done in two ways: 
- `slice()` Constructor
- Extending Indexing.

### slice() Constructor

The `slice()` constructor creates a slice object representing the set of indices specified by `range(start, stop, step)`.

Syntax: 
- slice(stop)
- slice(start, stop, step)

Parameter values :
- start: Starting index where the slicing starts
- stop: Ending index where the slicing stops.
- step: This argument determines the increment between each index for slicing.

Return value: `a sliced object containing elements in the given range only.`

**Note**: The ending index  is `up to but not including`

**Remember** that the first item has index 0.

In [ ]:
#string slicing
  
string ='Python'
  
# Using slice constructor
string_1 = slice(4)
string_2 = slice(2, 6, 2) 
string_3 = slice(-1, -5, -2)
  
print(string[string_1]) 
print(string[string_2]) 
print(string[string_3])

Pyth
to
nh

You have such string `hello, world`. Using `slice()` constructor you have to get such string: `ll`, `eowl`, `world`. Use only positive indexing.

In [ ]:
#string slicing
  
string ='hello, world'
  
# Using slice constructor
string_1 = slice(2, 4, 1)
string_2 = slice(1, 12, 3) 
string_3 = slice(7, 12, 1)
  
print(string[string_1]) 
print(string[string_2]) 
print(string[string_3])

ll
eowl
world

### Extending indexing

In Python, indexing syntax can be used as a substitute for the slice object. This is an easy and convenient way to slice a string both syntax wise and execution wise.

Syntax: `string[start:end:step]`

Parameter values :

- start: Starting index where the slicing starts
- stop: Ending index where the slicing stops.
- step: This argument determines the increment between each index for slicing.

**NOTE** The ending index is up to but not including.

- to print elements from beginning to a range use [: End Index],
- to print elements from end-use [:-End Index],
- to print elements from specific Index till the end use [Start Index:],
- to print elements within a range, use [Start Index:End Index]
- to print the whole List with the use of slicing operation, use [:].
- to print the whole List in reverse order, use [::-1].

In [ ]:
# Creating a string
string = 'ABCDEFGHIJKLMNO'
print("Initial STRING: ", string)

# Extending indexing
string_1 = string[7:13]
print("\nSlicing elements in a range 7-13: ", string_1)

Initial STRING:  ABCDEFGHIJKLMNO

Slicing elements in a range 7-13:  HIJKLM

In [ ]:
#Print elements from a pre-defined point to end
string_2 = string[5:]
print("\nElements sliced from 5th element till the end: ", string_2)

Elements sliced from 5th element till the end:  FGHIJKLMNO

In [ ]:
# Printing elements from beginning till end
string_3 = string[:]
print("\nPrinting all elements using slice operation: ", string_3)

Printing all elements using slice operation:  ABCDEFGHIJKLMNO

### TASK
You have such a string `1_2_3_4_5_6_7_8_9_0`. 
You have to do such steps: 
1. print elements from beginning till the end
2. print elements from 4th element till the end
3. print elemnts in a range 2-7

In [ ]:
string = '1_2_3_4_5_6_7_8_9_0'

string_1 = string[:]
print("\nPrinting all elements ", string_1)


string_2 = string[4:]
print("\nElements sliced from 4th element till the end: ", string_2)

string_3 = string[2:7]
print("\nSlicing elements in a range 2-7: ", string_3)

Printing all elements using slice operation:  1_2_3_4_5_6_7_8_9_0

Elements sliced from 4th element till the end:  3_4_5_6_7_8_9_0

Slicing elements in a range 2-7:  2_3_4

### Negative indexing

In [ ]:
# Creating a string
string = 'Python is easy'
print("Initial string: ", string)
  
# Print elements from beginning to a pre-defined point using Slice
string_1 = string[:-7]
print("\nElements sliced till 6th element from last: ", string_1)
  
# Print elements of a range using negative index List slicing
string_2 = string[-7:-4]
print("\nElements sliced from index -6 to -1:",string_2)
  
# Printing elements in reverse using Slice operation
string_3 = string[::-1]
print("\nPrinting List in reverse: ", string_3)

Initial string:  Python is easy

Elements sliced till 6th element from last:  Python

Elements sliced from index -6 to -1: is

Printing List in reverse:  ysae si nohtyP

### Task
You have such a string `programming`. 
You have to do such steps: 
1. print elements sliced till 8th element from last
2. print elements sliced from index -8 to -2
3. print elements in reverse using Slice operation

In [ ]:
# Creating a string
string = 'programming'
print("Initial string: ", string)
  
# Print elements from beginning to a pre-defined point using Slice
string_1 = string[:-8]
print("\nElements sliced till 6th element from last: ", string_1)
  
# Print elements of a range using negative index List slicing
string_2 = string[-8:-2]
print("\nElements sliced from index -6 to -1:",string_2)
  
# Printing elements in reverse using Slice operation
string_3 = string[::-1]
print("\nPrinting List in reverse: ", string_3)

Initial string:  programming

Elements sliced till 6th element from last:  pro

Elements sliced from index -6 to -1: grammi

Printing List in reverse:  gnimmargorp

### Strings have Length 
The built-in function `len()` gives uf the length of a string.

In [ ]:
string = 'watermelon'
length = len(string)
print(f'the length of the string "{string}"  is {length}')

the length of the string "watermelon"  is 10

### Task
You have such strings `apple`,`grape`, `orange`. 
You have to get the length of each of these strings.  Using such comparison operators
 `>, <` determine the longest string.

In [ ]:
str_1 = 'apple'
str_2 = 'grape'
str_3 = 'orange'

len_1 = len(str_1)
len_2 = len(str_2)
len_3 = len(str_3)

print(f'str_1 is grater than str_2? {str_1 > str_2}, the len of str_1 is {len_1}, the len of str_2 is {len_2}')
print(f'str_1 is grater than str_3? {str_1 > str_3}, the len of str_1 is {len_1}, the len of str_3 is {len_3}')
print(f'str_2 is grater than str_3? {str_2 > str_3}, the len of str_2 is {len_2}, the len of str_3 is {len_3}')
print(f'str_3 is grater than str_2? {str_3 > str_2}, the len of str_3 is {len_3}, the len of str_2 is {len_2}')
print(f'str_3 is grater than str_1? {str_3 > str_1}, the len of str_3 is {len_3}, the len of str_1 is {len_1}')

str_1 is grater than str_2? False, the len of str_1 is 5, the len of str_2 is 5
str_1 is grater than str_3? False, the len of str_1 is 5, the len of str_3 is 6
str_2 is grater than str_3? False, the len of str_2 is 5, the len of str_3 is 6
str_3 is grater than str_2? True, the len of str_3 is 6, the len of str_2 is 5
str_3 is grater than str_1? True, the len of str_3 is 6, the len of str_1 is 5

The longest string is :
- str_1 
- str_2
- str_3 +

### Looping through strings. While loop

Using a `while` statement and an `iteration variable` and the `len()` function we can construct a loop to look at each of the letters in a string individually.

In [ ]:
string = 'strawberry'
index = 0
while index < len(string):
    letter = string[index]
    print(index, letter)
    index +=1

0 s
1 t
2 r
3 a
4 w
5 b
6 e
7 r
8 r
9 y

You have such a string `pomegranate`. You have to print all characters except `e`, `a`, `o`.
You have to use `while` statement, `if` statement .

In [ ]:
string = 'pomegranate'
index = 0
while index < len(string):
    letter = string[index]
    if letter is 'e':
        pass
    elif letter is 'a':
        pass
    elif letter is 'o':
        pass
    else:
        print(index, letter)
    index +=1

0 p
2 m
4 g
5 r
7 n
9 t

### Looping through strings. For loop

A definite loop using a `for` statement is much more elegant. The iteration variable is completely taken care of by the `for` loop.

In [ ]:
string = 'strawberry'
for i in string:
    print(i)

s
t
r
a
w
b
e
r
r
y

You have such a string `pomegranate`. You have to print all characters except `e`, `a`, `o`.
You have to use `for` statement, `if` statement .

In [ ]:
string = 'pomegranate'
for i in string:
    if i is 'e':
        pass
    elif i is 'a':
        pass
    elif i is 'o':
        pass
    else:
        print(i)

p
m
g
r
n
t

### Looping and counting 
This is a simple loop that iterates over each letter in a string and counts how many times the  the loop encounters the `r` character.

In [ ]:
string = 'strawberry'
count = 0
for i in string:
    if i == 'r':
        count += 1
print(count)

3

You have such a string

`Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.`

You have to count how many times the loop encounters `l`, `a`, `d` characters.

In [ ]:
string = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
count_l = 0
count_a = 0
count_d = 0
for i in string:
    if i == 'l':
        count_l += 1
    elif i == 'a':
        count_a += 1
    elif i == 'd':
        count_d += 1
print(f'we encountered with l - {count_l} times, with a - {count_a} times, with d - {count_d} times')

we encountered with l - 5 times, with a - 7 times, with d - 8 times

### Deletion of a character

Deleting and updating characters from a string is not allowed. It's because the strings are immutable, so the elements of the string cannot be changed after it is assigned.  This will cause an error because assigning an item or deleting an item from a string is not supported. Although deleting the entire line is possible with the built-in keyword del.

The `del` keyword in python is primarily used to delete objects in Python.

Syntax: `del object_name`

In [ ]:
string = "python"
print("Initial String: ", string)
  
del string[5] 
print("\nDeleting character at 2nd Index: ", string)

Initial String:  python

TypeError: 'str' object doesn't support item deletion

In [ ]:
string = "python"
print("Initial String: ", string)
  

del string 
print("\nDeleting entire String: ", string)

Initial String:  python

NameError: name 'string' is not defined

### Check String 
To check if a certain phrase or character is present in a string, we can use the keyword `in`.

In [ ]:
string = 'Pear Lime Banana'
print('Lime' in string)
print('Mango' in string)

True
False

### Task 
You have a string. You should check that this line contains such substrings `Lorem`, `python`, `consectetur`.
If there is such a substring, then calculate its length.

In [ ]:
string = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

sub_str1 = 'Lorem'
sub_str2 = 'python'
sub_str3 = 'consectetur'
if sub_str1 in string:
    print(f'the length of {sub_str1} is {len(sub_str1)}')
else:
    print(f'this line does not contain {sub_str1}')
    
if sub_str2 in string:
    print(f'the length of {sub_str2} is {len(sub_str2)}')
else:
    print(f'this line does not contain such word as `{sub_str2}`')
    
if sub_str3 in string:
    print(f'the length of {sub_str3} is {len(sub_str3)}')
else:
    print(f'this line does not contain {sub_str3}')

the length of Lorem is 5
this line does not contain such word as `python`
the length of consectetur is 11

### Modify Strings 
Python has a set of built-in methods that you can use on strings.

#### Upper Case 
The `upper()` method returns the string in upper case:

In [ ]:
string = 'Python'
print(string.upper())

PYTHON

#### Lower Case 
he `lower()` method returns the string in lower case:

In [ ]:
string = 'Python'
print(string.lower())

python

#### Remove Whitespace 
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The `strip()` method removes any whitespace from the beginning or the end:

In [ ]:
string = "   Python is easy   "

print(string) # With whitespace
print(string.strip()) #Without whitespace

   Python is easy
Python is easy

#### Replace String 
The `replace()` method replaces a string with another string.

Syntax `string.replace(oldvalue, newvalue, count)`

Parameter Values
- oldvalue	Required. The string to search for
- newvalue	Required. The string to replace the old value with
- count	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [ ]:
string = "Pomegranate, Kiwi, Orange, Pomegranate, Grape, Lime, Pomegranate"
new_string = string.replace("Pomegranate", "Apricot", 2)
print(new_string)

Apricot, Kiwi, Orange, Apricot, Grape, Lime, Pomegranate

###  Task 
You have such a string 

`string = '   London is the capital and popular city of England and the United Kingdom.The city stands on the lake Thames in southeast England, at the head of its 50-mile estuary leading to the North Sea   '`

You have to get such a new string.

`new_string = 'LONDON IS THE CAPITAL AND POPULAR CITY OF ENGLAND AND THE UNITED KINGDOM.\nTHE CITY STANDS ON THE LAKE THAMES IN SOUTHEAST ENGLAND, AT THE HEAD OF ITS 50-MILE ESTUARY LEADING TO THE NORTH SEA'`

In [ ]:
string = '''   London is the capital and popular city of England and the United Kingdom.
The city stands on the lake Thames in southeast England, at the head of its 50-mile estuary leading to the North Sea   '''
new_string = string.strip()
new_string = new_string.upper()
new_string = new_string.replace('popular', 'largest')
new_string = new_string.replace('lake', 'river')
new_string = new_string.replace('50-mile estuary', '70-mile estuary')
new_string

'LONDON IS THE CAPITAL AND POPULAR CITY OF ENGLAND AND THE UNITED KINGDOM.\nTHE CITY STANDS ON THE LAKE THAMES IN SOUTHEAST ENGLAND, AT THE HEAD OF ITS 50-MILE ESTUARY LEADING TO THE NORTH SEA'

### Split String

`split()` method -- split a string into a list of strings after breaking the given string by the specified separator.


**A list is an ordered and mutable Python container, being one of the most common data structures in Python.**

Syntax : `str.split(separator, maxsplit)`

Parameters :
- separator : This is a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.

- maxsplit : It is a number, which tells us to split the string into maximum of provided number of times. If it is not provided then the default is -1 that means there is no limit.

Return value : `a list of strings after breaking the given string by the specified separator.`

In [ ]:
string = 'Blueberry Raspberry Strawberry Avocado'
  
# Splits at space
print(string.split())

['Blueberry', 'Raspberry', 'Strawberry', 'Avocado']

In [ ]:
string = 'Blueberry, Raspberry, Strawberry, Avocado'
  
# Splits at ','
print(string.split(','))

['Blueberry', ' Raspberry', ' Strawberry', ' Avocado']

In [ ]:
string = 'Blueberry:Raspberry:Strawberry:Avocado'
  
# Splitting at ':'
print(string.split(':'))

['Blueberry', 'Raspberry', 'Strawberry', 'Avocado']

In [ ]:
string = 'BlueberryorRaspberryorStrawberryorAvocado'
  
# Splitting at or
print(string.split('or'))

['Blueberry', 'Raspberry', 'Strawberry', 'Avocado']

In [ ]:
string = 'Blueberry, Raspberry, Strawberry, Avocado'
  
# maxsplit: 2
print(string.split(', ', 2))
  
# maxsplit: 4
print(string.split(', ', 3))
  
# maxsplit: 1
print(string.split(', ', 1))

['Blueberry', 'Raspberry', 'Strawberry, Avocado']
['Blueberry', 'Raspberry', 'Strawberry', 'Avocado']
['Blueberry', 'Raspberry, Strawberry, Avocado']

### Task
You have such a string 

string = 'Italy, officially the Italian Republic, is a country consisting of a peninsula delimited by the Alps and several islands surrounding it. Italy is located in the center of the Mediterranean Sea, in Southern Europe, and is also often considered part of Western Europe.'

You have to get such lists:
`['Italy', 'officially the Italian Republic', 'is a country consisting of a peninsula delimited by the Alps and several islands surrounding it. \nItaly is located in the center of the Mediterranean Sea, in Southern Europe, and is also often considered part of Western Europe.']`

`['Italy, officially the Italian Republic, ', 'a country consisting of a peninsula delimited by the Alps and several islands surrounding it. \nItaly ', 'located in the center of the Mediterranean Sea, in Southern Europe, and ', 'also often considered part of Western Europe.']`

In [ ]:
string = '''Italy, officially the Italian Republic, is a country consisting of a peninsula delimited by the Alps and several islands surrounding it. 
Italy is located in the center of the Mediterranean Sea, in Southern Europe, and is also often considered part of Western Europe.'''  

print(string.split(', ', 2))
  
# maxsplit: 4
print(string.split('is ', 3))

['Italy', 'officially the Italian Republic', 'is a country consisting of a peninsula delimited by the Alps and several islands surrounding it. \nItaly is located in the center of the Mediterranean Sea, in Southern Europe, and is also often considered part of Western Europe.']
['Italy, officially the Italian Republic, ', 'a country consisting of a peninsula delimited by the Alps and several islands surrounding it. \nItaly ', 'located in the center of the Mediterranean Sea, in Southern Europe, and ', 'also often considered part of Western Europe.']

### String Concatenation

When the `+` operator is applied to strings, it means `concatenation`.

In [ ]:
string_1 = 'hello'
string_2 = 'World'
print(string_1 + ', ' + string_2)

hello, World

### Task
You have such strings

 `Kiwi`, `Lemon`, `Papaya`, `Coconut`.

You have to get such list

`['KIWI', 'Jackfruit', 'PAPAYA', 'COCONUT']`

In [ ]:
str_1 = 'Kiwi '
str_2 = 'Lemon '
str_3 = 'Papaya '
str_4 = 'Coconut'

string = str_1 + str_2 + str_3 + str_4
new_string = string.upper()
new_string = new_string.replace('LEMON ', 'Jackfruit ')
list_ = new_string.split(' ')
list_

['KIWI', 'Jackfruit', 'PAPAYA', 'COCONUT']

### Searching a String
- We use the `find()` function to search for a substring within another string.
- `find()` finds the first occirrence of the substring
- If the substring is not found, `find()` returns `-1`

**Remember** that string position starts at zero.

In [ ]:
string = 'Jackfruit, Coconut'
position_1 = string.find('C')
position_2 = string.find('c')
print(f'the position of "C" is {position_1}, and the position of "c" is {position_2}')

the position of "C" is 11, and the position of "c" is 2